<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 1em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

</style>

<html>
    <head>
        <title>{{apptitle}} - summary</title>
    </head>
    <body>
        <div class="main">
        <div style="text-align:center">
        <h1>{{apptitle}}</h1>
        <img src="{{header_url}}">
        {% for temp in divstrs %}
        <h3>{{temp}}</h3>
        {% endfor %}
        {% if not foundrecord %}
        <h2>Game not Early Access or record not found!</h2>
        {% else %}
        <h2>User reviews predicted positive at launch: {{prediction}}%</h2>
        {% endif %}
        </div></div>
    </body>
</html>
